<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>#{msgs.title}</title>
    </h:head>
    <h:body>
        <h:form>
            <p>
                #{msgs.stillNotCorrect}"
                <h:outputFormat value="#{msgs.correctAnswer}">
                    <f:param value="#{quizBean.answer}"/>
                </h:outputFormat>
            </p>
            <p>#{msgs.nextProblem}</p>
            <p>#{quizBean.question}</p>
            <p><h:inputText value="#{quizBean.response}"/></p>
            <p>
                <h:commandButton value="#{msgs.checkAnswer}"
                                 action="#{quizBean.answerAction}"/>
            </p>
        </h:form>
    </h:body>
</html>